* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: 300;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  font-weight: 300;
  background-image: url(./images/reacthooksback.png);
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

.header {
  text-align: center;
  padding: 2.5rem;
  height: 10vh;
  font-size: 1.5rem;
}

.container {
  margin: 10% auto;
  padding: 80px 0;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.9);
  width: 40rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container h1 {
  font-size: 2.5rem;
  font-weight: 200;
  padding: 1rem;
}

input {
  border: 1px solid #fff;
  background-color: rgba(255, 255, 255, 0.25);
  width: 250px;
  border-radius: 3px;
  font-family: 'Source Sans Pro', sans-serif;
  padding: 10px 15px;
  margin: 0 auto 10px auto;
  display: block;
  text-align: center;
  font-size: 18px;
  color: white;
  font-weight: 300;
}

button {
  appearance: none;
  outline: 0;
  background-color: white;
  border: 0;
  padding: 10px 15px;
  color: #000;
  border-radius: 3px;
  width: 250px;
  font-size: 18px;
}

button:hover {
  background-color: #000;
  color: #fff;
  border: 1px solid #fff;
  cursor: pointer;
}

button:active {
  transform: scale(0.9);
}
